<mat-toolbar color="primary"> 
    <img src="../../../assets/icon4.jpg" alt="MS Icon" id="msicon">
</mat-toolbar>
<div>
      <img src="../../../assets/cloud.png" style="position: absolute;opacity: 0.2;">
      <img src="../../../assets/cloud.png" style="position: absolute;opacity: 0.2; margin-left: 37%;">
      <img src="../../../assets/cloud.png" style="position: absolute;opacity: 0.2; margin-left: 73%;">
</div>


<mat-card class="mat-card"  style="margin-top: 156px;">
  <mat-card-title>
     ACCOLITE INDIA 
     <hr>
  </mat-card-title>
  <mat-card-content>
      Welcome to Opportunity Managment Portal
  </mat-card-content>
  <mat-card-actions>
    <button id="login" #loginRef style="margin-left: 90px;" >  
      <span>
        <img src="../../../assets/googlelogo.png" alt="gmailIcon" id="loginicon"> 
      </span>
      <p id="logintext">Login with Google. </p>

    </button>
  </mat-card-actions>
</mat-card>

<!-- 
<h2 style="margin-left: 430px; margin-top: 20px;"> Welcome to Accolite Opportunity Management Portal</h2>
<div id= "frame">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ikurOQKuOXs?controls=0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div> -->

<!-- <br>
<mat-card>
  <mat-card-title> Login </mat-card-title>
  <mat-card-content>
    <form [formGroup]="myform">
      
        <input id="name"  type="hidden"  formControlName="name"/> 
      
      <mat-form-field appearance="fill">
          <mat-label> Username </mat-label>
          <input id="email" type="email" formControlName="email" matInput> 
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
          <mat-label> Password </mat-label>
          <input  type="password" formControlName = "password" id="password"  matInput>
      </mat-form-field>
      <br>
      <button style="width:100%;text-align: center; vertical-align: middle;" mat-stroked-button color="primary"   (click)='signin(myform.value)' style="width:100%;"> Sign in </button>
      <br>
      <br>
      <button style="width:100%;text-align: center; vertical-align: middle;" color="primary"  #loginRef >  
       <img src="../../../assets/googlelogo.png" alt="gmailIcon" style="width:30px; margin-right: 10px;"> Login with Google 
      </button>
   </form>
  </mat-card-content>
  <mat-card-footer style="text-align: center;">
    © Accolite India 
  </mat-card-footer>
</mat-card> -->


<!-- Add Components -->
<!-- <ng-template #pass let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Registration</h4>
    </div>
    <div class="modal-body">
      <div id="formdiv" class= "card card-body bg-light" >
            <label for="inputValue"> Please Enter New Password: </label> 
            <input type="text" name="name" #name />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onsubmit(name.value);modal.close('Save click')">Submit</button>
    </div>
  </ng-template> -->