<mat-grid-list cols="1" rowHeight="200px" >
    <mat-grid-tile>
        <div style="width: 700px;height: 130px;">
            <ngx-charts-number-card
                view=""
                [scheme]="colorScheme"
                [results]="NoUser"
                bandColor="#40964b"
                animations=true>
            </ngx-charts-number-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>
    

<mat-grid-list cols="2" rowHeight="300px"   md-gutter-gt-sm="0px" >
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="lang"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel1"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="skills"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel2"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
</mat-grid-list>  
<br>
<br>
<mat-grid-list cols="2" rowHeight="300px"   md-gutter-gt-sm="0px" >
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="demand"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel3"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
    <mat-grid-tile class="col">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="minxp"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel4"
        [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </mat-grid-tile>
</mat-grid-list>  
