<mat-tab-group>
    <mat-tab label="Bar Graph of Skills"> 
        <div class="row">
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="lang"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
      </div>    
    </mat-tab>
    <mat-tab label="Column 2">  
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="skills"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </mat-tab>
    <mat-tab label="Column 3"> 
       
    </mat-tab>
  </mat-tab-group>