<mat-toolbar color="primary"> 
    <img src="../../../assets/icon4.jpg" alt="MS Icon" id="msicon">
    <button mat-button   color="white"  [routerLink]="['./trends']"> Trends</button>
    <button  mat-button  color="white" [routerLink]="['./search']"> Search </button>
    
    <span class="example-fill-remaining-space"></span>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-button color="white" [routerLink]="['./myprofile']">My Profile</button>
        <br>
        <button  mat-button  color="white"  [routerLink]="['./opportunity']"> Opportunity </button>
        <br>
        <button mat-button  color="white" (click)="logout()"> Log Out</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>