.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.Rfont {
  font-family: Raleway
}

#ppic {
  width: 64px;
}

.Active {
  color: white;
  text-shadow: blueviolet;
  text-underline-offset: inherit;
  font-size: 16px;
  font-style: bold;
}

.Deactive {
  color: white;
  text-shadow: blueviolet;
  text-underline-offset: inherit;
  font-size: 16px;
  font-style: bold;
}

span {
  margin-right: 20px;
}

#msicon {
  height: 60px;
  border: 3px solid;
  padding: 0px;
}

.dialodC {
  position: relative !important;
}

.dialodD {
  position: relative !important;
}

.close-icon {
  position: absolute;
  top: 12px;
  right: 8px;
  transform: translate(50%, -50%);
}

h3 {
  margin-top: -2px;
}